.issue_id {
  display: inline-block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issue_reported {
  display: inline-block;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.issue_seen {
  display: inline-block;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
}

.issue_count {
  display: inline-block;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
