/* index.html */
.issue_id {
  font-size: 16px;
  display: inline-block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.issue_fuzzer {
  font-size: 16px;
  display: inline-block;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.issue_reported {
  font-size: 16px;
  display: inline-block;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.issue_seen {
  font-size: 16px;
  display: inline-block;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.issue_count {
  font-size: 16px;
  display: inline-block;
  width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.head_id {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.head_fuzzer {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.head_reported {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.head_seen {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

.head_count {
  display: block;
  font-size: 16px;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
}

#bug_we_trust {
  font-size: 14px;
  vertical-align: bottom;
}

.issue_stat_tab {
  font-size: 14px;
}

#job_container {
  margin-top: 39.1px;
}

.split left {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  left: 0;
}

.split_right {
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  right: 0;
}

/* base.html */
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #e9ecef;
   color: black;
   text-align: center;
   font-size: 15px;
   padding: 12px;
   margin-top: 28px;
}

