<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

    <!-- Fuzzinator CSS -->
    <link rel="stylesheet" href="/static/common.css" type="text/css"/>

  <script type="text/javascript">var active_page = "{{ active_page }}";</script>

    <title>Fuzzinator</title>
  </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand font-weight-bold" href="#"><span class="fz-brand">F</span><span class="fz-brand">u</span><span class="fz-brand">z</span><span class="fz-brand">z</span><span class="fz-brand">i</span><span class="fz-brand">n</span><span class="fz-brand">a</span><span class="fz-brand">t</span><span class="fz-brand">o</span><span class="fz-brand">r</span></a>
    <span class="navbar-text">
      In Bug We Trust.
    </span>
  </nav>
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <ul class="nav nav-tabs" id="mainTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link {% if active_page=='issues' %} active {% end %}" id="issues-tab"  href="/" role="tab" aria-controls="issues" aria-selected="true">Issues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if active_page=='stats' %} active {% end %}" id="stats-tab" href="/stats" role="tab" aria-controls="stats" aria-selected="false">Stats</a>
            </li>
            {% block nav %}
            {% end nav  %}
          </ul>
          <div class="tab-content" id="mainTabContent">
            {% block body %}
            {% end body %}
          </div> <!--mainTabCont-->
        </div> <!--col lg 9 -->
        <div class="col-lg-3 order-lg-first">
          <ul class="nav nav-tabs" id="sideTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="jobs-tab" data-toggle="tab" href="#jobs" role="tab" aria-controls="jobs" aria-selected="true">Jobs</a>
            </li>
          </ul>
          <div class="tab-content" id="sideTabContent">
            <div class="tab-pane show active" id="jobs" role="tabpanel" aria-labelledby="jobs-tab">

              <template id="fuzz-job-template">
                <!-- fuzzer job card begin -->
                <div class="card container-fluid border-light mb-1 pl-2 bg-secondary rounded-0">
                  <div class="row bg-white ml-0">
                    <div class="col-12 text-truncate"><i class="material-icons md-18 align-text-top">shuffle</i><span class="fuzz-job-id"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">shuffle</i><span class="fuzz-job-fuzzer"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">my_location</i><span class="fuzz-job-sut"> </span></div>
                    <div class="col-12 text-truncate text-secondary small">
                      <div class="progress">
                        <div class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-valuemax="">0%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- fuzzer job card end -->
              </template>

              <template id="reduce-job-template">
                <!-- reduce job card begin -->
                <div class="card container-fluid border-light mb-1 pl-2 bg-info rounded-0">
                  <div class="row bg-white ml-0">
                    <div class="col-12 text-truncate"><i class="material-icons md-18 align-text-top">crop</i> <span class="reduce-job-id"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">my_location</i> <span class="reduce-job-sut"> </span></div>
                    <div class="ol-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">priority_high</i> <span class="reduce-job-issue"> </span></div>
                    <div class="col-12 text-truncate text-secondary small">
                      <div class="progress">
                        <div class="progress-bar" style="width: 0%" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-valuemax="">0%</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- reduce job card end -->
              </template>

              <template id="update-job-template">
                <!-- update job card begin -->
                <!-- note: it seems that an update job cannot report progress -->
                <div class="card container-fluid border-light mb-1 pl-2 bg-info rounded-0">
                  <div class="row bg-white ml-0">
                    <div class="col-12 text-truncate"><i class="material-icons md-18 align-text-top">update</i><span class="update-job-id"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">my_location</i> <span class="update-job-sut"> </span></div>
                  </div>
                </div>
                <!-- update job card end -->
              </template>

              <template id="validate-job-template">
                <!-- validate job card begin -->
                <!-- note: it seems that a validate job cannot report progress -->
                <!-- note: it seems that a validate job doesn't even appear in the list of jobs -->
                <div class="card container-fluid border-light mb-1 pl-2 bg-info rounded-0">
                  <div class="row bg-white ml-0">
                    <div class="col-12 text-truncate"><i class="material-icons md-18 align-text-top">replay</i> <span class="validate-job-id"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">my_location</i> <span class="validate-job-sut"> </span></div>
                    <div class="col-12 text-truncate text-secondary small"><i class="material-icons md-14 align-text-top">priority_high</i> <span class="validate-job-issue"> </span></div>
                  </div>
                </div>
                <!-- validate job card end -->
              </template>

            </div> <!--jobs-->
          </div> <!-- sideTabCont  -->
        </div> <!--col lg 3 -->
      </div> <!--row-->
    </main>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="../static/websocket.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script>
    /* NOTE: right now, this is triggered on a click, but should be triggered by the 'new issue' event */
    $('.navbar-brand').click(function () {
      fire_work();
    });

    function fire_work() {
      $('.fz-brand').addClass('fz-brand-fireworks');
        $('.fz-brand').one('animationend', function(event) {
          $(this).removeClass('fz-brand-fireworks')
        });
    }

    function open_issue(issue_id) {
      $('#chevron-tab').removeClass('invisible');
      $('#issue-tab').removeClass('invisible');
      $('#issue-tab').tab('show');
      ws.send(JSON.stringify({"action": 'get_issue', "_id": issue_id}));
    }

    function delete_issue(issue_id) {
      $("#" + issue_id).remove();
      ws.send(JSON.stringify({"action": 'delete_issue', "_id": issue_id}));
    }

    $('#issue-tab').on('hidden.bs.tab', function (e) {
      $('#chevron-tab').addClass('invisible');
      $(e.target).addClass('invisible');
    });
  </script>
</body>
</html>
