<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/common.css">
  <title>Fuzzinator {% block title %} {% end title %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
  <script type="text/javascript" src="../static/websocket.js"></script>
  {% block body %}
  {% end body %}
  <div class="footer">
  	<p id="fuzzinator">Fuzzinator: Random Testing Framework - <i class="fab fa-github"></i> <a href="https://github.com/renatahodovan/fuzzinator">https://github.com/renatahodovan/fuzzinator</a></p>
  </div>
</body>
</html>
