<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">

    <!-- Fuzzinator CSS -->
    <link rel="stylesheet" href="static/common.css" type="text/css"/>

    <title>Fuzzinator</title>
  </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand font-weight-bold" href="#"><span class="fz-brand">F</span><span class="fz-brand">u</span><span class="fz-brand">z</span><span class="fz-brand">z</span><span class="fz-brand">i</span><span class="fz-brand">n</span><span class="fz-brand">a</span><span class="fz-brand">t</span><span class="fz-brand">o</span><span class="fz-brand">r</span></a>
    <span class="navbar-text">
      In Bug We Trust.
    </span>
  </nav>
  {% block body %}
  {% end body %}

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script type="text/javascript" src="../static/websocket.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script>
    /* NOTE: right now, this is triggered on a click, but should be triggered by the 'new issue' event */
    $('.navbar-brand').click(function () {
      fire_work();
    });

    function fire_work() {
      $('.fz-brand').addClass('fz-brand-fireworks');
        $('.fz-brand').one('animationend', function(event) {
          $(this).removeClass('fz-brand-fireworks')
        });
    }

    function open_issue(issue_id) {
      $('#chevron-tab').removeClass('invisible');
      $('#issue-tab').removeClass('invisible');
      $('#issue-tab').tab('show');
      ws.send(JSON.stringify({"action": 'get_issue', "_id": issue_id}));
    }

    function delete_issue(issue_id) {
      $("#" + issue_id).remove();
      ws.send(JSON.stringify({"action": 'delete_issue', "_id": issue_id}));
    }

    $('#issue-tab').on('hidden.bs.tab', function (e) {
      $('#chevron-tab').addClass('invisible');
      $(e.target).addClass('invisible');
    });
  </script>
</body>
</html>
